In [9]:
import mysql.connector
import pandas as pd
import os


# Replace the following placeholders with your actual MySQL database credentials
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "s0lutus#21",
    "database": "PS_DB",
}

try:
    # Connect to the MySQL server
    connection = mysql.connector.connect(**db_config)

    if connection.is_connected():
        print("Connected to MySQL database.")

        # Perform database operations here (e.g., execute queries, fetch data, etc.)


except mysql.connector.Error as e:
    print(f"Error while connecting to MySQL: {e}")

Connected to MySQL database.

In [10]:


file_path = "ambientesset22 (1).csv"

df = pd.read_csv(file_path, delimiter=";", encoding="latin-1")

df = df.where(pd.notna(df), None)

In [15]:
from sqlalchemy import create_engine


table_name = "teste_houer"

connection_string = f"mysql+mysqlconnector://root:s0lutus#21@localhost/PS_DB"
       
engine = create_engine(connection_string)

# Write the DataFrame to MySQL database

df.to_sql(name=table_name, con=engine, if_exists="replace", index=False)

print(f"Data from '{file_path}' written to MySQL table '{table_name}' successfully.")

Data from 'ambientesset22 (1).csv' written to MySQL table 'teste_houer' successfully.

In [22]:
select * from PS_DB.teste_houer

SyntaxError: invalid syntax (2091486657.py, line 1)

In [24]:
def execute_sql_query(sql_query):
    return pd.read_sql_query(sql_query, engine)

consulta_teste_houer = "select * from PS_DB.teste_houer"

df2 = execute_sql_query(sql_query=consulta_teste_houer)